<form class="form-inline" role="form">
  <div class="form-group">
    <div class="input-group">
      {{input value=other_artist class='form-control' key-press='onChange'}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
    {{view Ember.Select content=model.weights value=weight class='form-control'}}
    </div>
  </div>
</form>

