@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';

/* Move content down because of navbar */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.spacer  { margin-bottom: 1em; }

.spin {
  animation: spin .8s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
