node_modules

*.py[cod]
__pycache__
.coverage

ember/dist
ember/compressed
ember/tmp
ember/vendor/*
ember/.sass-cache
ember/connect.lock
ember/coverage/*
ember/libpeerconnection.log
npm-debug.log
testem.log
