<div class="page-header">
  <h1>Resources <small>Cool stuff you should check out.</small></h1>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Music Libraries</div>
      <div class="list-group">

        <a href="http://freemusicarchive.org/" class="list-group-item">
          <h4 class="list-group-item-heading">Free Music Archive</h4>
          <p class="list-group-item-text">A very large Creative Commons music library, including articles written by musicians and curators</p>
        </a>

        <a href="https://www.jamendo.com/" class="list-group-item">
          <h4 class="list-group-item-heading">Jamendo</h4>
          <p class="list-group-item-text">Creative Commons music library with a search tool and curated Internet radio stations</p>
        </a>

        <a href="http://magnatune.com/" class="list-group-item">
          <h4 class="list-group-item-heading">Magnatune</h4>
          <p class="list-group-item-text">Subscription-based Creative Commons music library, releasing new hand-picked albums every week</p>
        </a>

        <a href="http://ccmixter.org/" class="list-group-item">
          <h4 class="list-group-item-heading">ccMixter</h4>
          <p class="list-group-item-text">Collaborative music creation community containing thousands of Creative Commons licensed sounds, beats, riffs, and complete tracks</p>
        </a>

      </div><!-- /.list-group -->
    </div><!-- /.panel -->
  </div><!-- /.col-md-4 -->

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Music Podcasts</div>
      <div class="list-group">

        <a href="http://cchits.net/" class="list-group-item">
          <h4 class="list-group-item-heading">CCHits</h4>
          <p class="list-group-item-text">Robot-curated podcast curating the best Creative Commons music based on user votes</p>
        </a>

        <a href="http://rynothebearded.com/" class="list-group-item">
          <h4 class="list-group-item-heading">RynoTheBearded</h4>
          <p class="list-group-item-text">24/7 Creative Commons music stream with weekly podcasts of curated music, interviews, and occasionally inappropriate banter</p>
        </a>

        <a href="http://ratholeradio.org/" class="list-group-item">
          <h4 class="list-group-item-heading">Rathole Radio</h4>
          <p class="list-group-item-text">A fortnightly podcast featuring mostly Creative Commons music (make sure to read the license information)</p>
        </a>

      </div><!-- /.list-group -->
    </div><!-- /.panel -->
  </div><!-- /.col-md-4 -->

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Other Resources</div>
      <div class="list-group">

        <a href="https://www.reddit.com/r/ccmusic" class="list-group-item">
          <h4 class="list-group-item-heading">Creative Commons Music Subreddit</h4>
          <p class="list-group-item-text">A Subreddit dedicated to sharing links to music available under a Creative Commons license</p>
        </a>

        <a href="https://duckduckgo.com/?q=site%3Abandcamp.com+%E2%80%9Csome+rights+reserved%E2%80%9D+-%E2%80%9DPlease+refer+to+individual+track+pages+for+license+info.%E2%80%9D&t=canonical" class="list-group-item">
          <h4 class="list-group-item-heading">Bandcamp CC Search</h4>
          <p class="list-group-item-text">Bandcamp hosts websites for musicians but it lacks a Creative Commons music search feature but this Duck Duck Go search string should work</p>
        </a>

        <a href="https://soundcloud.com/search/sounds?filter.license=to_share" class="list-group-item">
          <h4 class="list-group-item-heading">SoundCloud CC Search</h4>
          <p class="list-group-item-text">Discovering Creative Commons music on SoundCloud is difficult, but they do have a CC music search</p>
        </a>

      </div><!-- /.list-group -->
    </div><!-- /.panel -->
  </div><!-- /.col-md-4 -->

</div><!-- /.row -->
