<div class="page-header">
  <h1>{{name}} <small>User Profile</small></h1>
{{#link-to 'user.edit' class='btn btn-primary btn-xs'}}<span class="glyphicon glyphicon-pencil"></span> Edit Profile{{/link-to}}
</div>
