<div class="page-header">
  <h1>Donate</h1>
</div>

<p class="lead">There are no ads on this website and no one pays us to promote their work.  This is a volunteer-run project that runs on kind donations.  If you'd like to see this website keep running, please consider donating below.</p>

<h2>Donate to Free Music Ninja</h2>

<p>You can support us with recurring weekly micro-donations on <a href="https://gratipay.com/FreeMusicNinja/">Gratipay</a>.  Suggested donations range from $1 to $5 but any amount helps.</p>

<script data-gratipay-username="FreeMusicNinja" src="//gttp.co/v1.js"></script>

<h2>Volunteers</h2>

<div class="media">
  <a class="pull-left" href="http://treyhunner.com">
    <img class="media-object" src="https://secure.gravatar.com/avatar/945d10168a7817c64276c164a57fa8de?s=176">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="http://treyhunner.com">Trey Hunner</a></h3>

    <p>Trey is a web developer, open source advocate, volunteer teacher, and music fan.  Trey has been interested in Creative Commons licenses since 2004.  He accepts donations via Bitcoin at <a href="https://blockchain.info/address/16CSbbHmcTBFZmgGLrrfznqKGb84qj4LAY">16CSbbHmcTBFZmgGLrrfznqKGb84qj4LAY</a>.</p>
    <p>Currently Trey has spent approximately:</p>

    <ul>
      <li>{{ trey.hours }} hours on researching, designing, and developing Free Music Ninja</li>
      <li>${{ trey.hostingMoney }} on hosting and domains for Free Music Ninja</li>
      <li>${{ trey.musicMoney }} on Creative Commons music</li>
    </ul>

  </div><!-- /.media-body -->
</div><!-- /.media -->
